body {
    background-color: #ffccff;
	font-family: "Arial";
	
}

h1 {
    background-color: #ff99ff;
}

li {
    display: inline;

}

.container {
	border: 1px solid black;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
	
}

