body {
    background-color: #ffccff;
	font-family: "Arial";
	
}

h1 {
    background-color: #ff99ff;
}

li {
    display: inline;

}

.logo {
	padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
	
}

.container {
	border: 2px double white;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
	text-align: center;
	
}


